/public/*

!/public/wp-content/
public/wp-content/*

!/public/wp-content/themes/
public/wp-content/themes/*

!/public/wp-content/plugins/

!/public/wp-content/themes/restlessbit/

.vagrant

node_modules
bower_components

.npm-debug.log

.DS_Store
Thumbs.db
