---
layout: page
title: About
permalink: /about/
---

<section class="section">
  <h2>Featured Projects</h2>
  <div class="row">
    {% for project in site.projects %}
    <div class="{% if project.featured %}col-md-12{% else %}col-md-6{% endif %}">
      <a class="tile-card" href="{{ project.link }}" target="_blank">
        <h3 class="tile-card__title">{{ project.title }}</h3>
        <h4 class="tile-card__subtitle">
          {{ project.tags }}
        </h4>
        <p class="tile-card__content">
          {{ project.description }}
        </p>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="wrapper wrapper--thin">
    <a href="{{ site.link_github }}" target="_blank">View more projects on Github</a>
  </div>
</section>

<section class="section">
  <h2>About Me</h2>
  <div class="profile">
    <div class="profile__image">
      <div class="portrait bubble">
        <img alt="Me"
          src="https://secure.gravatar.com/avatar/7914785c66f9c67c13dfe9cf4c99dc34?size=400" />
      </div>
    </div>
    <div class="profile__desc">
      <p>
        I'm a web developer working at
        <a href="https://underdog.io" target="_blank">Underdog.io</a>, where I also DJ part-time. When not writing code I may be found playing outside, chilling at the local coffeehouse, or composing
        <a href="{{ site.link_twitter }}" target="_blank">carefully crafted tweets</a>
        for your Twitter feed.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <h2>How to contact me</h2>
  <p>
    If you would like to work together, ask me a question, or just want to chat, you can shoot me an <a href="mailto:{{ site.contact_email }}">email</a> or shout at me on <a href="{{ site.link_twitter }}" target="_blank">Twitter</a>.
  </p>
  <h3>Other ways to connect with me</h3>
  <ul>
    <li>
      <a href="{{ site.link_github }}" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="{{ site.link_npm }}" target="_blank">npm</a>
    </li>
    <li>
      <a href="{{ site.link_stackoverflow }}" target="_blank">Stack Overflow</a>
    </li>
    <li>
      <a href="{{ site.link_medium }}" target="_blank">Medium</a>
    </li>
    <li>
      <a href="{{ site.link_twitter }}" target="_blank">Twitter</a>
    </li>
  </ul>
  <div class="wrapper wrapper--thin">
    <a class="btn btn--primary" href="mailto:{{ site.contact_email }}">Send me an email</a>
  </div>
</section>
