---
layout: default
---

<header class="hero">
  <div class="hero__content">
    <div class="container">
      <h1 class="hero__title">mario pabon</h1>
      <p class="hero__subtitle">
        I'm a programmer who's working to make this world a nicer place to be, one line of code at a time.
      </p>
      <ul class="list-inline">
        <li>
          <a href="#posts">Blog</a>
        </li>
        <span class="list-inline__spacer"></span>
        <li>
          <a href="#about">About</a>
        </li>
        <span class="list-inline__spacer"></span>
        <li>
          <a href="#work">Work</a>
        </li>
        <span class="list-inline__spacer"></span>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <span class="list-inline__spacer"></span>
        <li>
          <a href="{{ site.link_github }}" target="_blank">GitHub</a>
        </li>
        <span class="list-inline__spacer"></span>
        <li>
          <a href="{{ site.link_twitter }}" target="_blank">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<section id="posts" class="section">
  <div class="container">
    <h2>Blog</h2>
    <ul class="list-bare">
      {% for post in paginator.posts %}
      <li>
        <a class="slab" href="{{ post.url | prepend: site.baseurl }}">
          <span class="slab__title">{{ post.title }}</span>
          <span class="slab__subtitle">{{ post.date|| date: "%b %-d, %Y" }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

    <nav class="pager">
      <div class="pager__nav row">
        <div class="col-md-6">
          {% if paginator.previous_page %}
            <a class="pager__nav-btn pager__nav-btn--prev"
              href="{{ paginator.previous_page_path }}#posts">
              <span class="btn__icon btn__icon--left">←</span>
              <span class="btn__icon-label">Newer Posts</span>
            </a>
          {% endif %}
        </div>

        <div class="col-md-6 text-xs-right">
          {% if paginator.next_page  %}
            <a class="pager__nav-btn pager__nav-btn--next"
              href="{{ paginator.next_page_path }}#posts">
              <span class="btn__icon-label">Older Posts</span>
              <span class="btn__icon btn__icon--right">→</span>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="pager__status">
        <p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
      </div>
      {% if paginator.page > 1 %}
        <div class="text-center">
          <a href="/#posts">Back to first page</a>
        </div>
      {% endif %}
    </nav>
  </div>
</section>

<section id="work" class="section">
  <div class="container">
    <h2>Thing's I've made</h2>
    <div class="row">
      {% for project in site.projects %}
      <div class="{% if project.featured %}col-md-12{% else %}col-md-6{% endif %}">
        <a class="tile-card" href="{{ project.link }}" target="_blank">
          <h3 class="tile-card__title">{{ project.title }}</h3>
          <h4 class="tile-card__subtitle">
            {% for tag in project.tags %}
              {{ tag }}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </h4>
          <p class="tile-card__content">
            {{ project.description }}
          </p>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="wrapper wrapper--thin">
      <a href="{{ site.link_github }}" target="_blank">View more projects on Github</a>
    </div>
  </div>
</section>

<section id="about" class="section">
  <div class="container">
    <div class="profile">
      <div class="profile__image">
        <div class="portrait bubble">
          <img alt="Me"
            src="https://secure.gravatar.com/avatar/7914785c66f9c67c13dfe9cf4c99dc34?size=400" />
        </div>
      </div>
      <div class="profile__desc">
        <div>
          <h2>About Me</h2>
          <p>
            I'm a software engineer working at
            <a href="https://underdog.io" target="_blank">Underdog.io</a> in New York City, hacking mostly on JavaScript. When not writing code I may be found playing outside, chilling at the local coffeehouse, or composing
            <a href="{{ site.link_twitter }}" target="_blank">carefully crafted tweets</a>
            for your Twitter feed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section">
  <div class="container">
    <h2>How to contact me</h2>
    <p>
      If you would like to work together, ask me a question, or just want to chat, you can shoot me an <a href="mailto:{{ site.contact_email }}">email</a> or shout at me on <a href="{{ site.link_twitter }}" target="_blank">Twitter</a>.
    </p>
    <h3>Other ways to connect with me</h3>
    <ul>
      <li>
        <a href="{{ site.link_github }}" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="{{ site.link_npm }}" target="_blank">npm</a>
      </li>
      <li>
        <a href="{{ site.link_stackoverflow }}" target="_blank">Stack Overflow</a>
      </li>
      <li>
        <a href="{{ site.link_medium }}" target="_blank">Medium</a>
      </li>
      <li>
        <a href="{{ site.link_twitter }}" target="_blank">Twitter</a>
      </li>
    </ul>
    <div class="wrapper wrapper--thin">
      <a class="btn btn--primary" href="mailto:{{ site.contact_email }}">Send me an email</a>
    </div>
  </div>
</section>
