:root {
  --mango-red: rgb(255, 75, 50);
  --mango-orange: rgb(255, 200, 0);
  --mango-green: rgb(150, 225, 25);
  --mint-green: rgb(25, 207, 125);
}

::selection {
  background-color: var(--mint-green);
  color: #fff;
  -webkit-text-fill-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

html {
  background: #fff;
  color: #111;
  cursor: crosshair;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 90%;
  line-height: 1.5;
  overflow-x: hidden;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header,
section {
  animation: ease-out 0.5s;
  animation-fill-mode: both;
}

header {
  animation-name: slideInDown;
  animation-delay: 0.25s;
}

section {
  animation-name: slideInUp;
  animation-delay: 0.125s;
}

main {
  padding: 4rem 2rem 2rem 12vw;
  max-width: 35rem;
}

h1,
h2,
p,
li {
  margin-bottom: 1rem;
  margin-top: 0;
  padding-top: 0;
}

@keyframes mangoDreams {
  0% {
    background-position: 0vw 50%;
  }

  100% {
    background-position: 200vw 50%;
  }
}

h1,
h2 {
  animation: mangoDreams ease-in infinite 20s;
  background-image: linear-gradient(
    to right,
    var(--mango-red),
    var(--mango-orange) 5%,
    var(--mango-green) 15%,
    var(--mango-orange),
    var(--mango-red),
    var(--mango-orange),
    var(--mango-green),
    var(--mango-orange),
    var(--mango-red)
  );
  background-size: 200vw 100%;
  font-style: italic;
  line-height: 1.25;
  padding-bottom: 0.1em;

  /* Enable see-through text so we can see the tasty gradient background */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem;
}

a {
  border-bottom: 1px solid currentColor;
  color: inherit;
  display: inline-block;
  padding-bottom: 1px;
  text-decoration: none;
}

a:hover {
  border-bottom-color: var(--mint-green);
  border-bottom-width: 2px;
  padding-bottom: 0;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes popOut {
  25% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(0);
  }
}

.emoji {
  animation: popIn ease-in-out 0.25s;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 1;
  pointer-events: none;
  position: fixed;
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    animation-duration: 20s;
  }

  main {
    padding: 2rem;
  }

  .emoji {
    font-size: 2rem;
  }

  .gdpr {
    width: 75px;
  }
}
