$font-family: (
  sans-serif: ('Montserrat', 'Helvetica', 'Arial', sans-serif),
  serif: ('Cardo', 'Georgia', 'Times New Roman', serif),
  mono: ('Courier New', 'Consolas', monospace)
);
@function font-family($key) {
  @return map-get($font-family, $key);
}

$line-height: (
  base: 1.6,
  headings: 1.1
);
@function line-height($key) {
  @return map-get($line-height, $key);
}

$measure: 40rem;
