.longform {
  max-width: $measure;

  h2, h3 {
    margin-bottom: spacing(0.5);
    padding-top: spacing(1);
  }

  p {
    margin-bottom: spacing(0.5);
  }

  ol,
  ul {
    list-style-type: initial;
    padding-bottom: spacing(1);
    padding-left: spacing(1);

    > ol, ul {
      padding-bottom: 0;
    }
  }
}
