{% for post in posts %}
  <a class="slab" href="{{ post.permalink }}">
    <span class="h3 slab__title">{{ post.title }}</span>
    <span class="slab__subtitle">{{ post.date|date }}</span>
  </a>
{% endfor %}
