<div class="pager">
  <div class="pager__nav row">
    <div class="col-md-6 text-left">
      {% if pagination.prev %}
        <a class="pager__nav-btn"
          href="{{ pagination.prev.link }}">
          <span class="btn__icon">←</span> Newer Posts
        </a>
      {% endif %}
    </div>

    <div class="col-md-6 text-right">
      {% if pagination.next  %}
        <a class="pager__nav-btn"
          href="{{ pagination.next.link }}">
          Older Posts <span class="btn__icon">→</span>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="pager__status">
    <p>Page {{ pagination.current }} of {{ pagination.total }}</p>
  </div>
  {% if pagination.current > 1 %}
    <div class="text-center">
      <a href="/blog/">Back to first page</a>
    </div>
  {% endif %}
</div>
