@keyframes gradient {
  0% { background-position: 0 0; }
  100% { background-position: 100vw 0; }
}

@mixin animation-gradient ($duration: 10s, $delay: 3s) {
  animation: gradient linear both infinite $duration;
  animation-delay: $delay;
  background: linear-gradient(90deg, $color-brand-primary, $color-brand-secondary, $color-brand-primary);
  background-size: 100vw;
}