.global-nav {
  margin: 0 rhythm(2);
  padding-top: rhythm(1);

  @include media('<md') {
    text-align: center;

    .global-nav__brand {
      display: block;
      margin-bottom: rhythm(0.5);
    }

    .global-nav__search {
      display: block;
      width: 100%;
    }
  }

  @include media('>=md') {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    background: transparent;
    color: inherit;
    font-family: font-family(sans-serif);
    font-size: 0.8em;
    opacity: 0.8;
    text-decoration: none;
    text-transform: lowercase;

    &:hover,
    &.active {
      color: $color-brand-primary;
      opacity: 1;
      text-decoration: none;
    }

    &.active {
      cursor: default;
      pointer-events: none;

      &:hover {
        color: $color-text;
      }
    }
  }
}
