.global-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include media('<md') {
    font-size: 0.9em;
    padding: $grid-gutter-width/2;
    padding-bottom: 0;
  }

  @include media('>=md') {
    font-size: 0.9em;
    padding: rhythm(1);
    padding-bottom: 0;
  }

  a {
    @include no-underline;
  }

  .global-nav__link,
  .global-nav__brand {
    &.active {
      cursor: default;
      pointer-events: none;
    }
  }

  .global-nav__link {
    @include no-underline;
    @include transition(opacity);
    color: lighten($color-text, 10%);
    font-family: font-family(sans-serif);
    opacity: 0.5;
    text-transform: lowercase;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}
