.global-footer {
  background: $color-bg-dark;
  color: lighten($color-bg-dark, 50%);
  font-size: 0.8em;
  padding: rhythm(2);
  text-align: center;

  p {
    margin-left: auto;
    margin-right: auto;
  }
}
