.longform {
  margin-left: auto;
  margin-right: auto;
  max-width: $measure;

  h2,
  .h2,
  h3,
  .h3 {
    margin-top: rhythm(2);
  }

  ul,
  ol {
    margin-bottom: rhythm(1.5);
    padding-left: rhythm(1.5);

    li {
      margin-bottom: rhythm(0);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  pre {
    margin-bottom: rhythm(2);
  }
}

.longform__footer {
  margin-top: rhythm(4);
}
