.slab {
  border-bottom: 1px solid darken($color-bg, 50%);
  overflow: hidden;
  padding-bottom: rhythm(1.5);
  padding-top: rhythm(1.5);
  position: relative;

  @include media('<md') {
    display: block;
    width: 100%;

    .slab__title {
      margin-bottom: rhythm(0.5);
    }
  }

  @include media('>=md') {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .slab__title {
    color: inherit;
    text-transform: none;
  }

  &:hover {
    color: $color-brand-primary;
  }

  &:last-of-type {
    margin-bottom: rhythm(2);
  }
}

.slab__title {
  display: block;
  margin-bottom: 0;
}

.slab__subtitle {
  font-size: 0.9em;
  opacity: 0.9;
}
