.slab {
  @include transition(border, color);
  border-bottom: 1px solid darken($color-bg, 20%);
  display: block;
  overflow: hidden;
  padding: rhythm(1.5) rhythm(1);
  position: relative;
  width: 100%;

  &:after {
    @include transition(transform);
    background: $color-brand-primary;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 1%;
    transform: translateY(100%);
    width: 100%;
    z-index: -1;
  }

  .slab__title {
    color: inherit;
    text-transform: none;
  }

  &:hover {
    color: #fff;

    &:after {
      transform: translateY(0);
    }
  }
}

.slab__title {
  display: block;
  margin-bottom: rhythm(0.25);
}

.slab__subtitle {
  font-size: 0.8em;
  opacity: 0.6;
}
