.slab {
  @include transition(border, color);
  border-bottom: 1px solid darken($color-bg, 50%);
  overflow: hidden;
  padding-left: rhythm(0.5);
  padding-right: rhythm(0.5);
  position: relative;

  @include media('<md') {
    display: block;
    padding-bottom: rhythm(1);
    padding-top: rhythm(1);
    width: 100%;

    &:last-of-type {
      margin-bottom: rhythm(1);
    }

    .slab__title {
      margin-bottom: rhythm(0.5);
    }
  }

  @include media('>=md') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: rhythm(1.5);
    padding-top: rhythm(1.5);

    &:last-of-type {
      margin-bottom: rhythm(1.5);
    }
  }

  &:after {
    @include transition(transform);
    background: $color-brand-primary;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    width: 100%;
    z-index: -1;
  }

  .slab__title {
    color: inherit;
    text-transform: none;
  }

  &:hover {
    color: #fff;

    &:after {
      transform: translateY(0);
    }
  }
}

.slab__title {
  display: block;
  margin-bottom: 0;
}

.slab__subtitle {
  font-size: 0.9em;
  opacity: 0.9;
}
