{% extends "base.twig" %}

{% block content %}
  <section class="hero section">
    <h1 class="hero__title">Errrrrrrrr not found</h1>
  </section>
	<section class="section">
    <p>Does not compute \-__-/</p>
    <p>Unleash your frustration by
      <a href="mailto:mario@mariopabon.com">sending me an email</a>.
    </p>
  </section>
{% endblock %}
