{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body>

    <nav class="global-nav">
      <a class="global-nav__brand{% if current_uri == '/' %} active{% endif %}"
				href="/">home</a>
			<a class="{% if current_uri == '/blog/' %} active{% endif %}"
				href="/blog/">blog</a>
    </nav>

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

    <script src="{{ site.theme.link }}/assets/js/main.js"></script>
	</body>
</html>
