{% extends "base.twig" %}

{% block content %}
  <section class="hero section">
    <div class="container">
      <h1 class="hero__title">restlessbit</h1>
      <p class="hero__subtitle">musings of a front-end developer</p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Featured Posts</h2>
      <div class="row">
        {% for post in featured_posts %}
          <div class="col-md-6">
            <a class="tile-card" href="{{ post.permalink }}">
              <span class="h2 tile-card__title">
                {{ post.title }}
              </span>
              <span class="tile-card__subtitle">
                {{ post.date|date }}
              </span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Latest Posts</h2>
      <div>
        {% include 'components/loop.twig' with { posts: latest_posts } %}
      </div>
      {% if pagination.next %}
        <a href="{{pagination.next.link}}">View Archive</a>
      {% endif %}
    </div>
  </section>
{% endblock %}
