<footer class="global-footer">
  <p>
    Made with <span class="accent">&hearts;</span> in the
      <a href="http://www.meetup.com/hvtech/" target="_blank">Hudson Valley</a>
  </p>
  <span>&copy; {{"now"|date('Y')}} Mario Pabon</span>
</footer>
