<footer class="global-footer">
  <p>
    <a href="/about/">About</a>
  </p>
  <p>
    made with &hearts; in the Hudson Valley
  </p>
  <span>&copy; {{"now"|date('Y')}} <a href="http://mariopabon.com">Mario Pabon</a></span>
</footer>
