{% extends "base.twig" %}

{% block content %}
  <section class="section container">
    <header>
      <h1>Archive</h1>
    </header>
    <div>
      {% include 'components/loop.twig' with { posts: posts } %}
    </div>
    <footer>
      {% include 'components/pagination.twig' with { pagination: pagination } %}
    </footer>
  </section>
{% endblock %}
