{% extends "base.twig" %}

{% block content %}
  <header class="section section--thin hero">
    <div class="container">
      <h1>Archive</h1>
    </div>
  </header>
  <main class="section">
    <div class="container">
      <section>
        {% include 'components/loop.twig' with { posts: posts } %}
      </section>
      <footer>
        {% include 'components/pagination.twig' with { pagination: pagination } %}
      </footer>
    </div>
  </main>
{% endblock %}
