{% extends 'base.twig' %}

{% block content %}
  <header class="section section--thin hero">
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
  </header>
  <div class="section">
    <div class="container">
      <section>
        {% include 'components/loop.twig' with { posts: posts } %}
      </section>
      <footer>
        {% include 'components/pagination.twig' with { pagination: pagination } %}
      </footer>
    </div>
  </div>

{% endblock %}
