{% extends 'base.twig' %}

{% block content %}
  <header class="section section--thin hero">
    <h1>{{ title }}</h1>
  </header>
  <section class="section">
    {% include 'components/loop.twig' with { posts: posts } %}
    {% include 'components/pagination.twig' with { pagination: pagination } %}
  </section>
{% endblock %}
