{% extends 'base.twig' %}

{% block content %}
  <main class="wrapper container">
    <h1>{{ title }}</h1>
    <section>
      {% include 'components/loop.twig' with { posts: posts } %}
    </section>
    <footer>
      {% include 'components/pagination.twig' with { pagination: pagination } %}
    </footer>
  </main>

{% endblock %}
