{% extends 'base.twig' %}

{% block content %}
  <header class="section hero">
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
  </header>
  <main class="wrapper container">
    <div class="text-center">
      <p>
        Page {{ pagination.current }} of {{ pagination.total }}
      </p>
    </div>
    <section>
      {% include 'components/loop.twig' with { posts: posts } %}
    </section>
    <footer>
      {% include 'components/pagination.twig' with { pagination: pagination } %}
    </footer>
  </main>

{% endblock %}
