input[type="text"],
input[type="email"],
textarea {
  @include transition(border);
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  display: inline-block;
  min-width: 10em;
  font-size: 0.8em;
  padding: 0.5em;

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: $color-brand-primary;
    outline: 0;
  }
}

textarea {
  min-height: 10rem;
  resize: vertical;
}

button {
  border: 0;
}
