a {
  @include transition(border, color);
  border-bottom: 0.15em solid lighten($color-text, 10%);
  color: inherit;

  &:hover,
  &:active,
  &:focus {
    color: $color-brand-primary;
    border-bottom-color: $color-brand-primary;
    text-decoration: none;
  }
}
