.global-nav {
  background: $color-bg-alt;
  padding: 0.5em;

  a {
    background: transparent;
    color: inherit;
    font-family: font-family(sans-serif);
    font-size: 0.9em;
    opacity: 0.8;
    text-transform: lowercase;

    &:hover {
      color: $color-brand-primary;
      opacity: 1;
    }
  }
}
