.hero {
  background: $color-brand-primary;
  color: #fff;
}

.hero__title {
  margin-bottom: rhythm(1.5);

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__subtitle {
  margin-bottom: 0;
  opacity: 0.8;
}
