.hero {
  background: $color-brand-primary;
  color: #fff;
  padding: rhythm(6) 0;
}

.hero__title {
  font-size: ms(3);
  margin-bottom: rhythm(0.5);

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__subtitle {
  margin-bottom: 0;
  opacity: 0.9;
}
