$breakpoint-small-end: 500px;
$breakpoint-medium-start: $breakpoint-small-end + 1px;
$breakpoint-medium-end: 800px;
$breakpoint-large-start: $breakpoint-medium-end + 1px;
$breakpoint-large-end: 1200px;
$breakpoint-extra-large-start: $breakpoint-large-end + 1px;
