// Brand colors
$color-brand-primary: #420FFF;
$color-brand-secondary: adjust-hue($color-brand-primary, 90%);

// UI colors
$color-bg: #fff;

$color-text: #333;
$color-text-dark: #111;
$color-text-light: #888;
