$font-family-sans-serif: -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;

$font-size-base: 1.125em;
$font-scale: 1.618;

$line-height-base: 1.618;
$line-height-headings: 1.1;
