$font-family: (
  sans-serif: ('Poppins', 'Helvetica', 'Arial', sans-serif),
  serif: ('Georgia', 'Times New Roman', serif),
  mono: ('Courier New', 'Consolas', monospace)
);
@function font-family($key) {
  @return map-get($font-family, $key);
}

$font-weight: (
  normal: 400,
  bold: 600
);
@function font-weight($key) {
  @return map-get($font-weight, $key);
}

$line-height: (
  base: 1.618,
  headings: 1.25
);
@function line-height($key) {
  @return map-get($line-height, $key);
}

$measure: 50rem;
