.btn {
  border: 1px solid;
  display: inline-block;
  font-size: font-size(-1);
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.btn--primary {
  border-color: $color-brand-primary;
  color: $color-brand-primary;

  &:hover {
    background: $color-brand-primary;
    color: #fff;
  }
}
