.global-footer {
  overflow-x: hidden;
  padding: 2rem;
}

.global-footer__text {
  clear: right;
  color: inherit;
  float: right;
  font-size: font-size(-1);
  margin-bottom: 0.5rem;
  opacity: 0.75;
  width: auto;

  &:last-child {
    margin-bottom: 0;
  }
}
