$gradient-width: 100vw;

@keyframes gradient {
  0% { background-position: 0 0; }
  100% { background-position: -$gradient-width 0; }
}

.gradient {
  animation: gradient linear both infinite 30s;
  animation-delay: 3s;
  background: linear-gradient(45deg, $color-brand-primary, $color-brand-secondary, $color-brand-primary);
  background-size: $gradient-width;
  padding-bottom: 0.1rem;
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  a {
    -webkit-text-fill-color: $color-brand-primary;

    &:hover {
      -webkit-text-fill-color: adjust-hue($color-brand-primary, 60%);
    }
  }
}
