.header {
  border-bottom: 1px solid darken($color-body-bg, 10%);
  margin-bottom: spacing(2);
  padding-bottom: spacing(2);
  text-align: center;
}

.header__title {
  margin-bottom: spacing(0.5);
}

.header__subtitle {
  margin-bottom: 0;
  opacity: 0.75;
}
