.juicy {
  display: block;
  font-size: font-size(1);
  font-weight: 700;
  margin: 0;
  max-width: 60rem;
}

.juicy--deluxe {
  font-size: font-size(2);
  line-height: $line-height-headings;

  @include media ('small') {
    font-size: font-size(1);
    line-height: $line-height-base;
  }
}
