.longform {
  margin-left: auto;
  margin-right: auto;
  max-width: $measure;

  ol,
  ul {
    list-style-type: square;
    margin-bottom: spacing(1);
    padding-left: spacing(2);

    li {
      margin-bottom: spacing(0.5);
    }
  }

  * + h2 {
    margin-top: spacing(2);
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
