@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navigation {
  align-items: baseline;
  animation: slideDown ease-in-out 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: both;
  display: flex;
  justify-content: space-between;
  left: spacing(1);
  position: fixed;
  top: spacing(1);
  width: calc(100% - 3rem);
}

.navigation__link {
  color: #111;
}

.navigation__link--active {
  color: #420fff;
}

.navigation__logo {
  font-weight: 700;
}
