@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  align-items: center;
  animation: slideUp ease-in-out 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  border-bottom: 1px solid darken($color-body-bg, 10%);
  display: flex;
  min-height: 40rem;
  padding: 10rem;

  @include media('>small', '<=medium') {
    padding: 2rem;
  }

  @include media('<=small') {
    padding: 2rem;
  }
}
