@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.global-nav {
  animation: slideDown ease-in-out 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: both;
  left: 2rem;
  position: fixed;
  top: 2rem;
  z-index: 1;

  @include media('<=small') {
    left: 1rem;
    top: 1rem;
  }
}
