---
title: blog
layout: default
---

<article class="container">
  <header class="section section--first">
    <h1 class="gradient">Writings</h1>
    <p>
      Musings on code and design.
    </p>
  </header>
  <section class="section">
    <ul>
      {% for post in paginator.posts %}
        <li>
          <a class="slab" href="{{ post.url }}">
            <span class="slab__title">{{ post.title }}</span>
            <time class="slab__subtitle">{{ post.date | date: '%d %b %Y' }}</time>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if paginator.total_pages > 1 %}
      <nav>
        {% if paginator.previous_page %}
          <p>
            <a href="{{ paginator.previous_page_path }}">← Newer Posts</a>
          </p>
        {% endif %}
        {% if paginator.next_page %}
          <p>
            <a href="{{ paginator.next_page_path }}">Older Posts →</a>
          </p>
        {% endif %}
      </nav>
    {% endif %}
  </section>
</article>
