---
title: blog
layout: default
---

<section class="section">
  <div class="container">
    <header class="header js-rainbow">
      <h1 class="header__title">Blog</h1>
      <p class="header__subtitle">
        Musings on design and code.
      </p>
    </header>
    <ul class="row">
      {% for post in paginator.posts %}
        <li class="col-12--small col-6--medium col-4--large-and-up stretch-content margin-1--bottom">
          <a class="slab" href="{{ post.url }}">
            <span class="slab__title">{{ post.title }}</span>
            <time class="slab__subtitle">{{ post.date | date: '%d %B %Y' }}</time>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if paginator.total_pages > 1 %}
      <nav class="pager">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}">Newer Posts</a>
        {% else %}
          <span>Newer Posts</span>
        {% endif %}
        <span class="pager__page-indicator">Page {{ paginator.page }} / {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}">Older Posts</a>
        {% else %}
          <span>Older Posts</span>
        {% endif %}
      </nav>
    {% endif %}
  </div>
</section>
