// Override settings for Modular Scale here.

// Our base font size.
$ms-base: 1em;

// Ratio for our type scale.
$ms-ratio: 1.414;

// Scale font size between about 14px at 320px wide,
// and about 16px at 1440px wide.
$ms-range:
  1 320px,
  1.125 1600px;

// Calculate font size based on viewport width.
$ms-fluid: true;
