body {
  background: $color-body-bg;
  color: $color-body;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
}
