h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $line-height-headings;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1 {
  font-size: pow($font-scale, 2) + rem;
}

h2 {
  font-size: pow($font-scale, 1) + rem;
}

h3 {
  font-size: $font-scale + rem;
}

h4 {
  font-size: 1rem;
}
