<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mario Pabon / Programmer</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#420fff" />
    <meta name="msapplication-TileColor" content="#420aaa" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="theme-color" content="#420aaa" />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav class="global-nav">
        <a class="bits" aria-label="Back to top" href="#top">
          <span class="bits__bit"></span>
          <span class="bits__bit"></span>
        </a>
      </nav>
    </header>
    <main>
      <article id="top" class="container body">
        <header class="section">
          <h1 class="juicy juicy--deluxe">
            Hi. I'm <span class="brand">Mario</span>, a JavaScript developer living in Brooklyn, New York.
          </h1>
        </header>
        <section class="section">
          <p class="juicy">
            I build web apps with tools like Node, Express, and React.<br />
          </p>
        </section>
        <section class="section">
          <p class="juicy">
            I often share the code that I write on <a href="https://github.com/restlessbit">Github</a>.
          </p>
        </section>
        <section class="section">
          <p class="juicy">
            Sometimes I write about writing code on <a href="https://medium.com/@restlessbit">Medium</a>.<br />
            Other times, I am sharing non-sensical tweets on <a href="https://twitter.com/restlessbit">Twitter</a>.
          </p>
        </section>
        <section class="section">
          <p class="juicy">
            I'm currently working at <a href="https://underdog.io">Underdog.io</a> in New York City.
          </p>
        </section>
        <section class="section">
          <p class="juicy">
            If you want to get in touch with me, you can tweet or DM
            <a href="https://twitter.com/restlessbit">@restlessbit</a> on Twitter.
          </p>
        </section>
      </article>
    </main>
    <footer class="global-footer">
      <p class="global-footer__text">
        Coming at ya live from Brooklyn
      </p>
      <a class="global-footer__text" href="https://github.com/restlessbit/mariopabon.com">
        View page source
      </a>
      <p class="global-footer__text">
        &copy; 2016 – ∞
      </p>
    </footer>

    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function() {
            var mf = document.createElement("script");
            mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/4d229ebf-8a70-48da-8dcb-4ce74674c2dd.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>

    <script src="/app.js"></script>
  </body>
</html>
