<nav class="pager">
  <div class="pager__content">
    {{!-- {{#if prev}} --}}
      <a class="pager__nav btn btn--primary" href="{{page_url prev}}">
        <span class="btn__icon">⤌</span> Newer Post
      </a>
    {{!-- {{/if}}
    {{#if next}} --}}
      <a class="pager__nav btn btn--primary" href="{{page_url next}}">
        Older Post <span class="btn__icon">⤍</span>
      </a>
  </div>
</nav>
