<nav class="pager">
  <div class="pager__content">
    {{#if prev}}
      <a class="pager__nav btn btn--primary" href="{{page_url prev}}">
        Next Post
      </a>
    {{/if}}
    {{#if next}}
      <a class="pager__nav btn btn--primary" href="{{page_url next}}">
        Previous Post
      </a>
    {{/if}}
    <a href="#" class="pager__nav pager__nav--full btn btn--primary">
      All posts
    </a>
  </div>
</nav>
