.bit {
  @include transition(background, border);
  border: 1px solid darken($color-bg, 25%);
  display: inline-block;
  overflow: hidden;
  height: 1.75rem;
  position: relative;
  width: 1.75rem;

  &:before {
    @include transition(border-radius, transform);
    background: $color-brand-primary;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    width: 100%;
  }

  &:hover,
  &.active {
    border-color: $color-brand-primary;
    opacity: 1;

    &:before {
      border-radius: 0;
      transform: scale(1);
    }
  }
}
