.btn {
  @include no-underline;
  @include transition(background, color);
  background: none;
  cursor: pointer;
  display: inline-block;
  font-family: font-family(sans-serif);
  font-size: 0.9rem;
  padding: 0.75em 2em;
  position: relative;
}

.btn__icon {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0.25em;
  vertical-align: middle;
}

.btn--primary {
  background: transparent;
  border: 1px solid $color-brand-primary;
  color: $color-brand-primary;
  overflow: hidden;
  position: relative;

  &:after {
    @include transition(top);
    background: $color-brand-primary;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &:hover,
  &:active,
  &:focus {
    color: #fff;

    &:after {
      top: 0;
    }
  }
}

.btn--disabled {
  background: #8a8a8a;
  cursor: normal;
  pointer-events: none;
}
