.global-footer {
  border-top: 1px solid darken($color-bg, 10%);
  color: $color-text-light;
  font-size: 0.8em;
  font-weight: font-weight(bold);
  padding: rhythm(2);
  text-align: center;

  a {
    @include no-underline;
    @include transition(color, opacity);
    color: lighten($color-bg-dark, 50%);
    opacity: 0.6;

    &:hover {
      color: #fff;
      opacity: 1;
    }
  }
}

.global-footer__copy {
  line-height: 2;
  margin: 0 auto;
}
