.hero__title {
  font-family: font-family(serif);
  font-weight: 400;
  margin-bottom: rhythm(0.5);

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__subtitle {
  line-height: line-height(base);
  margin-bottom: 0;
  opacity: 0.8;
}
