.hero {
  background: $color-brand-primary;
  color: #fff;
  height: 100vh;
  min-height: 480px;

  h1,
  h2 {
    color: #fff;
  }

  a {
    color: #fff;

    &:after {
      background: #fff;
    }
  }
}

.hero__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero__title {
  margin-bottom: rhythm(0.5);

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__subtitle {
  margin-bottom: rhythm(0.5);
}
