.pager {
  margin-left: auto;
  margin-right: auto;
}

.pager__nav {
  margin-bottom: rhythm(0.75);
}

.pager__nav-btn {
  display: block;
  margin: rhythm(1) 0;
  text-align: center;
  width: 100%;

  &:after {
    display: none;
  }

  @include media('>=md') {
    display: inline-block;
    text-align: inherit;
    width: auto;
  }
}

.pager__nav-btn {
  .btn__icon,
  .btn__icon-label {
    @include transition(transform);
  }
}

.pager__nav-btn--prev {
  &:focus,
  &:hover,
  &:active {
    .btn__icon {
      transform: translateX(-0.5rem);
    }

    .btn__icon-label {
      transform: translateX(0.1rem);
    }
  }
}

.pager__nav-btn--next {
  &:focus,
  &:hover,
  &:active {
    .btn__icon {
      transform: translateX(0.5rem);
    }

    .btn__icon-label {
      transform: translateX(-0.1rem);
    }
  }
}

.pager__status {
  text-align: center;
  width: 100%;

  p {
    margin-left: auto;
    margin-right: auto;
  }
}
