.slab {
  @include no-underline;
  @include transition(border, color);
  border-bottom: 1px solid darken($color-bg, 20%);
  overflow: hidden;
  padding: rhythm(1.5) ($grid-gutter-width / 2);
  position: relative;
  width: 100%;

  @include media('<md') {
    display: block;

    .slab__title {
      margin-bottom: rhythm(0.25);
    }
  }

  @include media('>=md') {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    .slab__title {
      flex: 1 0 auto;
      margin-bottom: 0;
    }
  }

  &:after {
    @include transition(top);
    background: $color-brand-primary;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: -1;
  }

  .slab__title {
    color: inherit;
    letter-spacing: 0;
    text-transform: none;
  }

  &:hover {
    border-bottom-color: $color-brand-primary;
    color: #fff;

    &:after {
      top: 0;
    }
  }
}

.slab__title {
  display: block;
  margin-bottom: rhythm(0.25);

  &:last-child {
    margin-bottom: 0;
  }
}

.slab__subtitle {
  font-size: 0.9em;
  opacity: 0.8;
}
