.tile-card {
  @include no-underline;
  @include transition(border, color);
  border: 1px solid darken($color-bg, 10%);
  display: flex;
  flex-direction: column;
  height: 16em;
  justify-content: flex-start;
  margin-bottom: $grid-gutter-width / 2;
  margin-top: $grid-gutter-width / 2;
  overflow: hidden;
  padding: rhythm(1.5);
  position: relative;
  transition-duration: 0.25s;
  z-index: 0;

  @include media('>=lg') {
    height: 18em;
  }

  &:after {
    @include transition(top);
    background: $color-brand-primary;
    content: '';
    display: block;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: -1;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $color-brand-primary;
    color: #fff;

    &:after {
      top: 0;
    }

    .tile-card__title,
    .tile-card__subtitle {
      color: #fff;
    }
  }
}

.tile-card__title,
.tile-card__subtitle {
  @include transition(color);
  display: block;
  font-family: font-family(sans-serif);
  font-weight: font-weight(bold);
  margin-bottom: rhythm(0.5);
}

.tile-card__title {
  font-size: ms(1);
  letter-spacing: 0;
  text-transform: none;
}

.tile-card__subtitle {
  @include all-caps;
  font-size: 0.7em;
}

.tile-card__content {
  font-size: 0.9em;
  margin: 0;
}
