---
layout: default
---

<article class="section longform">
  <header class="content-header">
		<h1 class="content-header__title">
			{{ page.title }}
		</h1>
    <time class="content-header__subtitle" datetime={{ post.post_date }}>
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
  </header>

  <section>
		{{ content }}
	</section>

  <nav class="longform__footer">
    <div class="pager">
      <div class="page__status text-center">
				<a href="/">View more posts</a>
      </div>
    </div>
  </nav>
</article>
