---
layout: default
---

<article class="section">
  <div class="container">
    <div class="longform">
      <header class="header">
        <h1 class="header__title">
          {{ page.title }}
        </h1>
        <time class="header__subtitle" datetime={{ post.post_date }}>
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
      </header>
      {{ content }}
      <p class="text-align--center">
        <a href="/blog">View more posts</a>
      </p>
    </div>
  </div>
</article>
