---
layout: default
---

<article class="section">
  <div class="container">
    <header class="header">
      <h1 class="header__title gradient">
        {{ page.title }}
      </h1>
      <time class="header__subtitle gradient" datetime={{ post.post_date }}>
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </header>
    <div class="longform">
      {{ content }}
      <p class="text-align--center">
        <a href="/blog">View more posts</a>
      </p>
    </div>
  </div>
</article>
