body {
  @include ms-respond(font-size, 1);
  background: $color-bg;
  color: $color-text;
  font-family: font-family(sans-serif);
  -webkit-font-smoothing: antialiased;
  line-height: line-height(base);
  text-rendering: optimizeLegibility;
}
