h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
p,
.p {
  display: block;
  margin-top: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  color: $color-headings;
  font-weight: font-weight(bold);
  letter-spacing: -0.025em;
  line-height: line-height(headings);
}

h1,
.h1,
h2,
.h2 {
  margin-bottom: rhythm(0.5);
}

h1,
.h1 {
  font-size: 2.618em;
}

h2,
.h2,
h3,
.h3 {
  margin-top: rhythm(2);

  &:first-child {
    margin-top: 0;
  }
}

h2,
.h2 {
  font-size: ms(2);
}

h3,
.h3 {
  font-size: ms(0);
  margin-bottom: rhythm(0.5);
}

h4,
.h4 {
  font-size: 0.9em;
  margin-bottom: rhythm(0.5);
}

h5,
.h5 {
  @include all-caps;
  font-size: 0.8em;
  margin-bottom: rhythm(0.5);
}

p {
  margin-bottom: rhythm(1);
  max-width: $measure;
}

strong,
b {
  font-weight: font-weight(bold);
}
